.animated-title {
    font-size: 60px;
    font-family: 'Raleway', Sans-serif;
    font-weight: 300;
    position: relative;
    width: 100%;
    max-width: 100%;
    height: auto;
    padding: 70px 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

.animated-title .trackleft{
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: leftMarquee 60s linear infinite;
    text-transform: uppercase;
}

.animated-title .trackright {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: rightMarquee 60s linear infinite;
    text-transform: uppercase;
}

@keyframes leftMarquee {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

@keyframes rightMarquee {
    from {
        transform: translateX(-50%);
    }

    to {
        transform: translateX(0);
    }
}

@media (hover: hover) and (min-width: 700px) {
    .animated-title .content {
        -webkit-transform: translateY(calc(100% - 5rem));
        transform: translateY(calc(100% - 5rem));
    }
}